{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div id="content">
        <div class="content-box container" style="padding: 45px 0;">
            <div class="default-form" style="width: 800px; margin: 0 auto; background-color: white; padding: 30px; border-radius: 30px; border: 5px solid #C84B56; background-color: #C84B56;">
                <div class="row">
                    <h3 class="col-md-6" style="font-family: europa; color: white;">Object aanpassen</h3>
                    <div class="col-md-6" style="display: flex; justify-content: flex-end; align-items: center; height: 80px;">
                        <a href="{{ path('admin_overview_object') }}">
                            <div class="btn btn-primary" style="font-family: proxima-nova; border-radius: 20px;">
                                <i class="fas fa-reply tk-proxima-nova"></i> Terug
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    {{ form_start(form) }}
                    <div class="form-group col-md-6 col-sm-12">
                        {{ form_row(form.objNaam) }}
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        {{ form_row(form.chassisnummer) }}
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        {{ form_row(form.kenteken) }}
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        {{ form_row(form.objType) }}
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        {{ form_row(form.prijs) }}
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        {{ form_row(form.fotos) }}
                    </div>
                    {% for field in form.specificatie %}
                        <div class="form-group col-md-6 col-sm-12">
                            {{ form_row(field) }}
                        </div>
                    {% endfor %}
                    <div class="form-group col-md-6 col-sm-12">
                        {{ form_row(form.beschikbaarheid) }}
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        {{ form_row(form.objOmschrijving) }}
                    </div>
                    <div class="col-md-6 col-sm-12">

                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <button type="submit" class="tk-prixima-nova btn btn-primary default-button-wide">
                            Opslaan
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}
