{% extends '/base.html.twig' %}
{% block body %}
    {% include '/partials/header.html.twig' %}
    <div id="content">
        <div class="content-box container">
            <div class="row">
                <h2 class="col-md-6" style="font-family: europa;">Orders overzicht</h2>
            </div>
            {% if error is defined %}
                {{ error }}
            {% endif %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Ordernummer</th>
                    <th scope="col">Orderdatum</th>
                    <th scope="col">Klant</th>
                    <th scope="col">Object</th>
                    <th scope="col">Van</th>
                    <th scope="col">Tot</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <th>{{ order.ordernummer }}</th>
                        <td>{{ order.orderDatum|date('d-m-Y') }}</td>
                        <td>{{ order.klant.klantPersoonlijkeGegevens.klantVoornaam }} {{ order.klant.klantPersoonlijkeGegevens.klantTussenvoegsel }} {{ order.klant.klantPersoonlijkeGegevens.klantAchternaam }}</td>
                        <td>{{ order.objectPeriod.objectProduct.objNaam }}</td>
                        <td>{{ order.objectPeriod.datumUit|date('d-m-Y')}}</td>
                        <td>{{ order.objectPeriod.datumTerug|date('d-m-Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include '/partials/footer.html.twig' %}
{% endblock %}