{% extends '/base.html.twig' %}
{% block body %}
    {% include '/partials/header.html.twig' %}
    <div id="content">
        <div class="content-box container">
            <div style="width: 400px; margin: 0 auto; padding: 30px; border-radius: 30px; background-color: #F45B69" class="default-form">
                <h2 style="text-align: center; font-family: europa; margin-bottom: 30px;"><i class="far fa-edit"></i> Gegevens aanpassen</h2>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_errors(form) }}
                </div>
                <div class="form-group" style="padding: 0 45px;">
                    {{ form_row(form.username) }}
                </div>
                <div class="form-group" style="padding: 0 45px;">
                    {{ form_row(form.email) }}
                </div>
                <div class="form-group" style="padding: 0 45px;">
                    {{ form_row(form.plainPassword) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="default-button-wide btn btn-primary"><span class="fa-fw"><i class="fas fa-shield-check fa-2x" style="height:20px;"></i> Bevestigen</span></button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% include '/partials/footer.html.twig' %}
{% endblock %}