{% extends 'base.html.twig' %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div id="content">
    <div class="content-box container">

        <h1 class="col-md-6" style="font-family: europa;">Order overzicht</h1><br>
        <table class="table">
            {% for message in app.flashes('success') %}
                <div class="flash-notice" style="color: white; background-color: #e3656c; border-radius: 30px; font-family: proxima-nova; display: inline-block; padding: 5px 10px;">
                    <i class="fas fa-trash-alt"></i> {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="flash-notice" style="color: white; background-color: #e3656c; border-radius: 30px; font-family: proxima-nova;display: inline-block; padding: 5px 10px;">
                    <i class="fas fa-exclamation-triangle"></i> {{ message }}
                </div>
            {% endfor %}
            <thead>
            <tr>
                <th scope="col">Klant</th>
                <th scope="col">Objectnaam</th>
                <th scope="col">Datum afgifte</th>
                <th scope="col">Datum teruggave</th>
                <th scope="col">Totaalbedrag</th>
                <th scope="col">Acties</th>
            </tr>
            </thead>
            <tbody>
            {% if orders %}
                {% for key, order in orders %}
                    {% set difference = date(order.orderDatum).diff(date("now"|date('d-m-Y'))) %}
                    {% set daysDiff = difference.days %}
                    <tr>
                        <td>{{ order.klant.klantPersoonlijkeGegevens.klantVoornaam }} {{ order.klant.klantPersoonlijkeGegevens.klantAchternaam }}</td>
                        <td>{{ order.objectPeriod.objectProduct.objNaam }}</td>
                        <td>{{ order.objectPeriod.datumUit|date('d-m-Y') }}</td>
                        <td>{{ order.objectPeriod.datumTerug|date('d-m-Y') }}</td>
                        <td><i class="fas fa-euro-sign"></i> {{ prijsArr[order.objectPeriod.objectProduct.id]|number_format(2, ',', ',')}}</td>
                        <td>
                            {% if daysDiff > 61 %}
                                <a href="{{ path('user_delete_order', {'order': order.id}) }}">
                                    <i class="fas fa-trash-alt"></i> Annuleren
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% include 'partials/footer.html.twig' %}
{% endblock %}