{% extends 'base.html.twig' %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div id="content">
    <div class="content-box container">

        <h1 class="col-md-6" style="font-family: europa;">Order overzicht</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Klant</th>
                <th scope="col">Objectnaam</th>
                <th scope="col">Datum afgifte</th>
                <th scope="col">Datum teruggave</th>
                <th scope="col">Totaalbedrag</th>
                {#<th scope="col">Acties</th>#}
            </tr>
            </thead>
            <tbody>
            {% if orders %}
                {% for key, order in orders %}
                    <tr>
                        <td>{{ order.klant.klantPersoonlijkeGegevens.klantVoornaam }} {{ order.klant.klantPersoonlijkeGegevens.klantAchternaam }}</td>
                        <td>{{ order.objectProduct.objNaam }}</td>
                        <td>{{ order.objectProduct.objDatumUit|date('d-m-Y') }}</td>
                        <td>{{ order.objectProduct.objDatumTerug|date('d-m-Y') }}</td>
                        <td><i class="fas fa-euro-sign"></i> {{ prijsArr[order.objectProduct.id]|number_format(2, ',', ',')}}</td>
                        {#<td>#}
                            {#<a style="text-decoration: none;" href="{{ path('user_view_order', {'order': order.id }) }}">#}
                                {#<i class="fas fa-eye"></i> Bekijken#}
                            {#</a>#}
                        {#</td>#}
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% include 'partials/footer.html.twig' %}
{% endblock %}